<header>
  <nav>
    <p>
      <a href="/">Index</a>
      &nbsp;/&nbsp;
      <a href="/{{ tournament.season }}/">{{ tournament.season }}</a>
      &nbsp;/&nbsp;
      <a href="/{{ tournament.season }}/{{ tournament.id }}">{{ tournament.name }}</a>
      &nbsp;/&nbsp;
      {{ division.name }}
    </p>
  </nav>
</header>
<main>
  <h1>{{ tournament.name }}</h1>

  <p>This page is a best-effort attempt to calculate the standings with only publicly available data, and may contain errors.</p>

  <details>
    <summary>Links</summary>
    {% if tournament.rk9link %}
      <p>RK9:</p>
      <ul>
        <li><a href="https://rk9.gg/roster/{{ tournament.rk9link }}">Roster</a></li>
        <li><a href="https://rk9.gg/pairings/{{ tournament.rk9link }}">Pairings</a></li>
      </ul>
    {% endif %}
    {% if tournament.playlatamlink %}
      <p>PlayLATAM:</p>
      <ul>
        <li><a href="https://pairings.playlatam.net/roster/{{ tournament.playlatamlink }}">Roster</a></li>
        <li><a href="https://pairings.playlatam.net/matches/{{ tournament.playlatamlink }}">Pairings</a></li>
      </ul>
    {% endif %}
    <p>Unofficial JSON data:</p>
    <ul>
      <li><a href="https://api.standings.stalruth.dev/{{ tournament.season }}/{{ tournament.id }}/tournament.json">Tournament Information</a></li>
      <li><a href="https://api.standings.stalruth.dev/{{ tournament.season }}/{{ tournament.id }}/{{ division.id }}/players.json">Player Data</a></li>
      <li><a href="https://api.standings.stalruth.dev/{{ tournament.season }}/{{ tournament.id }}/{{ division.id }}/standings.json">Standings</a></li>
    </ul>
  </details>

  <p>There are {{ tournament.players[division.id] }} players competing in this tournament. This page was last updated at {{ tournament.lastUpdated | date: "%Y-%m-%d %H:%M" }}.</p>

  <div id="favourites">
    <h2>Favourites</h2>
    <table>
      <thead>
        <th>Rank</th>
        <th class="fave">
          <span class="label-desktop">Favourite</span>
          <span class="label-mobile">Fave</span>
        </th>
        <th class="name-cell">Name</th>
        {% if division.players[2].team %}
          <th class="name-team">
            <p class="name">Name</p>
            <p class="team">Team</p>
          </th>
        {% else %}
          <th class="cell-mobile">
            <p class="name">Name</p>
          </th>
        {% endif %}
        <th class="record-resistance">
          <p class="record">Record</p>
          <p class="resistance">Op. Win %</p>
        </th>
        <th class="resistance-cell">Resistance</th>
      </thead>
      <tbody id="favourites-body">
      </tbody>
    </table>
  </div>

  {% if division.top_cut %}
    <details open>
      <summary>
        <h2>Top Cut</h2>
      </summary>
      <div class="top-cut">
        {% for round in division.top_cut.rounds reversed %}
          <h3>
            {{ forloop.rindex | cutRound: division.top_cut.totalRounds }}
          </h3>
          <div {% if round.size > 2 %}class="top-cut-grid"{% endif %}>
            {% for match in round %}
              {% if match.players.size == 2 %}
                <div class="match">
                  {% for player in match.players %}
                    <div class="{% if match.winner != forloop.index0 and match.winner != null %}loser{% endif %}">
                      <a href="/{{ tournament.season }}/{{ tournament.id }}/{{ division.id }}/{{ player.id }}">
                        {{ division.players[player.id].name }}
                      </a>
                    </div>
                    {% if forloop.last == false %}
                      <div>vs.</div>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </details>
  {% endif %}

  <h2>Standings</h2>

  <table>
    <thead>
      <th>Rank</th>
      <th class="fave">
        <span class="label-desktop">Favourite</span>
        <span class="label-mobile">Fave</span>
      </th>
      <th class="name-cell">Name</th>
      {% if division.players[2].team %}
        <th class="name-team">
          <p class="name">Name</p>
          <p class="team">Team Link</p>
        </th>
      {% else %}
        <th class="cell-mobile">
          <p class="name">Name</p>
        </th>
      {% endif %}
      <th class="record-resistance">
        <p class="record">Record</p>
        <p class="resistance">Op. Win %</p>
      </th>
      <th class="resistance-cell">Resistance</th>
    </thead>
    <tbody id="standings-body">
      {% for id in division.standings %}
        <tr data-id="{{ id }}" {% if division.players[id].placing == 9999%}class="dq"{% endif %}>
          <td>
            {% if division.players[id].placing == 9999 %}
              DQ
            {% else %}
              {{ division.players[id].placing }}
            {% endif %}
          </td>
          <td class="fave"><button data-id="{{ id }}">☆</button></td>
          <td class="name-cell">
            <a href="/{{ tournament.season }}/{{ tournament.id }}/{{ division.id }}/{{ id }}">
              {{ division.players[id].name }}
            </a>
          </td>
          {% if division.players[id].team %}
            <td class="name-team">
              <div class="name">
                <a href="/{{ tournament.season }}/{{ tournament.id }}/{{ division.id }}/{{ id }}">
                  {{ division.players[id].name }}
                </a>
              </div>
              <div class="team">
                <a href="{{ division.players[id].paste }}">
                  {{ division.players[id].team | summariseTeam: true }}
                </a>
              </div>
            </td>
          {% else %}
            <td class="cell-mobile">
              <div class="name">
                <a href="/{{ tournament.season }}/{{ tournament.id }}/{{ division.id }}/{{ id }}">
                  {{ division.players[id].name }}
                </a>
              </div>
            </td>
          {% endif %}
          <td class="record-resistance">
            <p class="record">{{ division.players[id] | printRecord }}</p>
            <p class="resistance">{{ division.players[id].resistances.opp | percent }}</p>
          </td>
          <td class="resistance-cell">
            {{ division.players[id].resistances.opp | percent }}
              <span class="oppopp">
                ({{ division.players[id].resistances.oppopp | percent }})
              </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>* This player received one or more losses for being late and will always lose tiebreakers to other players who were on time.</p>
</main>

<script type="module" src="/js/favourites.js"></script>
<script type="module">
  import { createFavsTable, getFavouriteHandler, updateFavouriteButtons } from '/js/favourites.js';

  const storeName = 'favourites-{{ tournament.season }}-{{ tournament.id }}-{{ division.id }}';
  updateFavouriteButtons(storeName);
  document.querySelectorAll('button[data-id]').forEach((button) => {
    button.addEventListener('click', getFavouriteHandler(storeName));
  });
  createFavsTable(storeName);

  window.addEventListener('pageshow', (e) => {
    if(e.persisted) {
      updateFavouriteButtons(storeName);
      createFavsTable(storeName);
    }
  });
</script>

