<header>
  <nav>
    <p>
      <a href="/">Index</a>
      &nbsp;/&nbsp;
      <a href="/{{ tournament.season }}/">{{ tournament.season }}</a>
      &nbsp;/&nbsp;
      <a href="/{{ tournament.season }}/{{ tournament.id }}">{{ tournament.name }}</a>
      &nbsp;/&nbsp;
      <a href="/{{ tournament.season }}/{{ tournament.id }}/{{ player.division }}">{{ player.division | capitalize }}</a>
      &nbsp;/&nbsp;
      {{ player.name }}
    </p>
  </nav>
</header>
<main>
  <h1>{{ tournament.name }}</h1>

  <h2><button class="fave" data-id="{{ player.id }}">☆</button> {{ player.name }}</h2>

  <h3>Record</h3>

  {% if player.top %}
    <p>
      Final placing:
      {% if player.top == 1 %}
        1st
      {% elsif player.top == 2 %}
        2nd
      {% else %}
        Top {{ player.top }}
      {% endif %}
    </p>
  {% endif %}
  <p>
    Record: {{ player | printRecord }}
  </p>
  <p>
    Resistance: {{ player.resistances.opp | percent }}
    <span class="oppopp">
      ({{ player.resistances.oppopp | percent }})
    </span>
  </p>

  {% if player.team %}
    <h3>Team</h3>

    <p>
      <a href="{{ player.paste }}">
        {{ player.team | summariseTeam }}
      </a>
    </p>
  {% endif %}

  <h3>Schedule</h3>

  {% assign round_counter = player.rounds | roundsPlayed %}
  {% for roundset in player.rounds reversed %}
    <table>
      <caption>
        {{ roundset.name }}
      </caption>
      <thead>
        <th class="round-result">
          <p class="round">Round</p>
          <p class="result">Result</p>
        </th>
        <th class="result-cell">Result</th>
        <th class="fave">
          <span class="label-desktop">Favourite</span>
          <span class="label-mobile">Fave</span>
        </th>
        <th class="name-cell">Name</th>
        {% if player.team %}
          <th class="name-team">
            <p class="name">Name</p>
            <p class="team">Team Link</p>
          </th>
        {% else %}
          <th class="cell-mobile">
            <p class="name">Name</p>
          </th>
        {% endif %}
        <th>Record</th>
      </thead>
      <tbody>
        {% if forloop.first and player.drop != -1 %}
          <td colspan="7">Dropped at Round {{ player.drop }}</td>
        {% endif %}
        {% for round in roundset.rounds reversed %}
          <tr>
            <td class="round-result">
              <p class="round">
                {% if roundset.name == 'Top Cut' %}
                  {{ forloop.rindex | cutRound: tournament.tournamentStructure[player.division].topCut }}
                {% else %}
                  {{ round_counter }}
                {% endif %}
              </p>
              <p class="result">
                {{ round.result | resultName }}
              </p>
            </td>
            {% assign round_counter = round_counter | minus: 1 %}
            <td class="result-cell">
              {{ round.result | resultName }}
            </td>
            <td class="fave"><button data-id="{{ round.id }}">☆</button></td>
            <td class="name-cell">
              {% if round.id != 0 %}
                <a href="/{{ tournament.season }}/{{ tournament.id }}/{{ player.division }}/{{ round.id }}">
                  {{ divisions[player.divId].players[round.id].name }}
                </a>
              {% else %}
                {% if round.result == 'L' %}
                  <b>LATE</b>
                {% elsif round.result == 'W' %}
                  <b>BYE</b>
                {% endif %}
              {% endif %}
            </td>
            {% if player.team %}
              <td class="name-team">
                <div class="name">
                  {% if round.id != 0 %}
                    <a href="/{{ tournament.season }}/{{ tournament.id }}/{{ player.division }}/{{ round.id }}">
                      {{ divisions[player.divId].players[round.id].name }}
                    </a>
                  {% else %}
                    {% if round.result == 'L' %}
                      <b>LATE</b>
                    {% elsif round.result == 'W' %}
                      <b>BYE</b>
                    {% endif %}
                  {% endif %}
                </div>
                {% if divisions[player.divId].players[round.id].team %}
                  <div class="team">
                    <a href="{{ divisions[player.divId].players[round.id].paste }}">
                      {{ divisions[player.divId].players[round.id].team | summariseTeam: true }}
                    </a>
                  </div>
                {% endif %}
              </td>
            {% else %}
              <td class="cell-mobile">
                <div class="name">
                  {% if round.id != 0 %}
                    <a href="/{{ tournament.season }}/{{ tournament.id }}/{{ player.division }}/{{ round.id }}">
                      {{ divisions[player.divId].players[round.id].name }}
                    </a>
                  {% else %}
                    {% if round.result == 'L' %}
                      <b>LATE</b>
                    {% elsif round.result == 'W' %}
                      <b>BYE</b>
                    {% endif %}
                  {% endif %}
                </div>
              </td>
            {% endif %}
            <td>
              {{ divisions[player.divId].players[round.id] | printRecord }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
</main>

<script type="module" src="/js/favourites.js"></script>
<script type="module">
  import { createFavsTable, getFavouriteHandler, updateFavouriteButtons } from '/js/favourites.js';

  const storeName = 'favourites-{{ tournament.season }}-{{ tournament.id }}-{{ player.division }}';
  updateFavouriteButtons(storeName);
  document.querySelectorAll('button[data-id]').forEach((button) => {
    button.addEventListener('click', getFavouriteHandler(storeName));
  });
</script>

